<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Prueba_2doParcial.Properties.Settings.BusesConnectionString"
            connectionString="Data Source=DORIAN;Initial Catalog=Buses;User ID=sa;Password=12345;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>